@keyframes slideInFromRight {
    0% {
      transform: translateX(100%) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(-360deg);
      opacity: 1;
    }
  }
  
  .animate-slide-in-right {
    animation: slideInFromRight 1s ease-out;
  }


  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in-bottom {
    animation: slideInFromBottom 1s ease-out 200ms forwards;
    opacity: 0;
  }